* {
  font-family: sans-serif;
  background-color: black;
  color: blanchedalmond;
}
body {
  z-index: 1;
  margin: 0;

  text-align: center;
  place-content: center;
}
ul {
  z-index: 0;
  list-style: none;
  position: fixed;
  top: 0;
  left: 1500px;
  background-color: blanchedalmond;
}
li,
a {
  display: inline;
  background-color: blanchedalmond;
  color: black;
}
.picture {
  position: relative;
  display: block;
  left: 800px;
  width: 300px;
  height: 400px;
  border: solid 5px blanchedalmond;
}
.clpics {
  position: relative;
  display: block;
  left: 850px;
  width: 200px;
  height: 200px;
  border: solid 5px blanchedalmond;
}
#button {
  margin: 40px;
  padding: 5px;
  border: 10px;
  background-color: blanchedalmond;
  color: black;
  width: 100px;
  height: 50px;
}
